<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
	  <hr>
	  <p style="text-align: center;"><label for="username"><b>Username</b></label></p>
	  <p style="text-align: center;"><input type="text" placeholder="Enter Username" name="username" required></p>

	  <p>&nbsp;</p>
      <p style="text-align: center;"><label for="email"><b>Email</b></label></p>
	  <p style="text-align: center;"><input type="text" placeholder="Enter Email" name="email" required></p>
	  <p>&nbsp;</p>
	  

      <p style="text-align: center;"><label for="psw"><b>Password</b></label></p>
	  <p style="text-align: center;"><input type="password" placeholder="Enter Password" name="psw" required></p>
	  <p>&nbsp;</p>

      <p style="text-align: center;"><label for="psw-repeat"><b>Confirm Password</b></label></p>
	  <p style="text-align: center;"><input type="password" placeholder="Repeat Password" name="psw-repeat" required></p>
	  <p>&nbsp;</p>

      <label>
        <p style="text-align: center;"><input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
	  </label></p>
	  <p>&nbsp;</p>

      <div class="clearfix">
        <p style="text-align: center;"><button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Clear</button></p>
        <p style="text-align: center;"><button type="submit" class="signup">Sign Up</button></p>
        <p style="text-align: center;"><button type="back" class="signup"  onclick="location.href='/'">Go Back</button></p>
      </div>
    </div>
  </form>
</div>