{% extends 'user_closet/base.html' %}

{% block title %}Clothe-Me - Closet Details{% endblock %}

{% block body %}

<h1>{{ closet.name }}</h1>

<h3>{{ closet.desc }}</h3>

{% for clothes in closet.clothes_set.all %}
<h2>{{ clothes.clothes_name }}</h2>

<img src="{{ clothes.image }}" style="width: 300px; height: auto">

<p>Details:</p>

<ul>
    <li>Brand - {{ clothes.brand }}</li>
    <li>Size - {{ clothes.size }}</li>
    <li>Color - {{ clothes.color }}</li>
    <li>Material - {{ clothes.type_cloth }}</li>
</ul>
{% endfor %}

{% endblock %}