{% extends 'user_closet/base.html' %}

{% block title %}Clothe-Me - Closet Details{% endblock %}

{% block body %}

<h1>{{ closet.name }}</h1>

<h3>{{ closet.desc }}</h3>

<form method="post" action="{% url 'user_closet:clothes-add' closet.id %}">
    {% csrf_token %}<input type="submit" value="Add Clothes">
</form>

{% for clothes in closet.clothes_set.all %}
<h2>{{ clothes.clothes_name }}</h2>

<img src="{{ clothes.image.url }}" style="width: 300px; height: auto">

<p>Details:</p>

<ul>
    <li>Brand - {{ clothes.brand }}</li>
    <li>Size - {{ clothes.size }}</li>
    <li>Color - {{ clothes.color }}</li>
    <li>Material - {{ clothes.type_cloth }}</li>
    <form method="post" action="{% url 'user_closet:clothes-delete' closet.id %}">
        {% csrf_token %}<input type="submit" value="Delete Clothing">
    </form>
</ul>
{% endfor %}

{% endblock %}